{
  "extends": "plugin:@m6web/eslint-plugin-react/default",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true
  },
  "rules": {
    "no-use-before-define": "off",
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off",
    "react/jsx-fragments": "off",
    "react/forbid-prop-types": 0,
    "import/no-named-as-default": "off",
    "jsx-a11y/label-has-associated-control": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": [
    "react"
  ]
}
